/* .container{
    height: 100% ;
    display: grid;
    grid-template: repeat(12, 1fr);
    grid-template-areas: 
    "n n n m m m m m m m m m";
}
#nav-bar{
    grid-area: n;
}
#main-doc{
    grid-area: m;
}  */