body, html{
    height: 100%;
    
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #444;
    margin: 0;
}
header > h1{
    font-weight: normal;
    font-size: 30px;
    color: #000;
    margin: 0;
}
.main-section > code{
    display: block;
    padding: 20px 50px 20px 10px ;
    border-radius: 5px;
    background-color:#efefef;
    color: #444;
    font-size: 12px;
}
#navbar{
    display: flex;
    flex-direction: column;
    border-right: 5px solid #444;
    margin: 0;
    padding: 20px 0px;
    width: 25%;
    height: 100%;
    overflow: auto;
    position: fixed;
}   

#navbar a{
    text-decoration: none;
    color: #444;
    display: block;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 20px;
}
#navbar > header > h1{
    font-size: 30px;
    border-bottom: 1px solid black;
    padding: 16px;
}
#main-doc{
    margin-left: 400px;
    padding: 40px 16px 40px 16px;
    height: 1000px;
}
@media screen and (max-width: 1024px){
    
    #main-doc{
        margin-left: 320px;
        padding: 40px 16px 40px 16px;
        height: 1000px;
    }
}
@media screen and (max-width: 768px){
    #navbar{
        width: 30%;
    }
    #main-doc{
        margin-left: 250px;
        padding: 40px 16px 40px 16px;
        height: 1000px;
    }
}
@media screen and (max-width: 600px){
    #navbar{
        display: none;
    }
    #main-doc{
        margin-left: 0px;
        padding: 40px 16px 40px 16px;
        height: 1000px;
    }
}

